* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}


@media (min-width: 600px) {
#container {
      display:block;
      justify-content: space-evenly;
      width: 100%;
      background-color: #333;
}

#main-section {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.all-players {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.player-card {
  border: 1em solid;
    background-color: #fff;
    border-color: #ddd;
    color: #333;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    width: 100%;
    box-sizing: border-box;
}
.player-card img {
  max-width: 100%;
  height: auto;
}


    #nav ul {
      color: #f2f2f2;
      list-style: none; 
      padding: 0; 
    }

    .nav li {
      display: inline-block; 
      margin-right: 10px; 
    }
    
    .nav li:hover {
      background-color: #ddd;
      color: black;
    }
  
}